<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>导师</string>
		<key>typeList</key>
		<array>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>全部导师</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>全部导师</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>全部导师</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>全部导师</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>全部导师</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>商业传奇</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>学友</string>
		<key>typeList</key>
		<array>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>所有学友</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>同城学友</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>同行学友</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>其他城市</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>typeList</key>
		<array>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>所有活动</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>其他城市</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>同城活动</string>
			</dict>
			<dict>
				<key>subjectLogo</key>
				<string>hhh</string>
				<key>subjectName</key>
				<string>发布活动</string>
			</dict>
		</array>
		<key>name</key>
		<string>活动</string>
	</dict>
</array>
</plist>
