<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>studentList</key>
		<array>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的李四</string>
				<key>name</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是王五</string>
				<key>name</key>
				<string>王五</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
		</array>
		<key>name</key>
		<string>所有学友</string>
	</dict>
	<dict>
		<key>studentList</key>
		<array>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的李四</string>
				<key>name</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是王五</string>
				<key>name</key>
				<string>王五</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
		</array>
		<key>name</key>
		<string>同城学友</string>
	</dict>
	<dict>
		<key>studentList</key>
		<array>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的李四</string>
				<key>name</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是王五</string>
				<key>name</key>
				<string>王五</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
		</array>
		<key>name</key>
		<string>同行学友</string>
	</dict>
	<dict>
		<key>studentList</key>
		<array>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的李四</string>
				<key>name</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是王五</string>
				<key>name</key>
				<string>王五</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
				<key>name</key>
				<string>赵六</string>
			</dict>
		</array>
		<key>name</key>
		<string>其他城市</string>
	</dict>
</array>
</plist>
