<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>teacherList</key>
		<array>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>张三</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>李四</string>
				<key>intro</key>
				<string>我是张三李四的李四</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>王五</string>
				<key>intro</key>
				<string>我是王五</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
		</array>
		<key>name</key>
		<string>全部导师</string>
	</dict>
	<dict>
		<key>teacherList</key>
		<array>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>张三</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>李四</string>
				<key>intro</key>
				<string>我是张三李四的李四</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>王五</string>
				<key>intro</key>
				<string>我是王五</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
		</array>
		<key>name</key>
		<string>华商之道</string>
	</dict>
	<dict>
		<key>teacherList</key>
		<array>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>哈哈</string>
				<key>intro</key>
				<string>我是呵呵哈哈哈</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>你好</string>
				<key>intro</key>
				<string>我是你好啊</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>嘿嘿嘿</string>
				<key>intro</key>
				<string>我是王五</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>快快快快快快快</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>啦啦啦啦啦啦啦</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
		</array>
		<key>name</key>
		<string>商业传奇</string>
	</dict>
	<dict>
		<key>teacherList</key>
		<array>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>啊啊啊</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>凄凄切切</string>
				<key>name</key>
				<string>李四</string>
				<key>intro</key>
				<string>我是张三李四的李四</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>呜呜呜呜</string>
				<key>name</key>
				<string>王五</string>
				<key>intro</key>
				<string>我是王五</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>恩恩</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>山东分公司的分公司答复g</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>噼噼啪啪</string>
				<key>intro</key>
				<string>分公司公司的规定是否该</string>
			</dict>
			<dict>
				<key>iconUrl</key>
				<string>hh</string>
				<key>name</key>
				<string>赵六</string>
				<key>intro</key>
				<string>我是张三李四的张三</string>
			</dict>
		</array>
		<key>name</key>
		<string>好老师</string>
	</dict>
</array>
</plist>
