<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王五</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赵六</string>
	</dict>
</array>
</plist>
